{% extends 'project_base.html' %}

<!-- Scripts -->
{% block project_scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<!--TO BE CONTINUE-->
{% endblock %}

<!-- Styles -->
{% block project_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_draw.css') }}">
{% endblock %}

<!-- Project Title -->
{% block project_title %}
MNIST Prediction
{% endblock %}

<!-- Project Header -->
{% block project_header %}
MNIST Prediction (ResNet152 / Vision Transformer)
{% endblock %}

<!-- Project Description -->
{% block project_description %}
The purpose of this project is to facilitate my understanding of Flask through deployment of two different classification models (ResNet152, Vision Transformer) that is trained on MNIST.
<br>
<br>
Click the "Predict" button for random sampling prediction.
{% endblock %}

<!-- Project -->
{% block project %}
<a href="{{ url_for('mnist_predict') }}"><button id="ResNet152 Predict">Predict</button>
{% endblock %}